# Pandas

In [1]:
# Import pandas library
import pandas as pd

In [2]:
#pd.set_option('display.max_rows', None)

In [3]:
# Read CSV File

#iris = pd.read_csv('data/iris.csv')
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [4]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df = iris.copy()
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [6]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'flower_type']

In [7]:
print(df.shape)
print(df.dtypes)

(149, 5)
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
flower_type      object
dtype: object

In [8]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
#df["sepal_length"]
df.sepal_length

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepal_length, Length: 149, dtype: float64

In [10]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  flower_type
0           False        False         False        False        False
1           False        False         False        False        False
2           False        False         False        False        False
3           False        False         False        False        False
4           False        False         False        False        False
..            ...          ...           ...          ...          ...
144         False        False         False        False        False
145         False        False         False        False        False
146         False        False         False        False        False
147         False        False         False        False        False
148         False        False         False        False        False

[149 rows x 5 columns]

In [11]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
flower_type     0
dtype: int64

In [12]:
df.iloc[1:4, 2:4]

   petal_length  petal_width
1           1.3          0.2
2           1.5          0.2
3           1.4          0.2

In [13]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [14]:
# Drop by label
df.drop(0, inplace = True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [15]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [16]:
df.index[0], df.index[3]

(1, 4)

In [17]:
# Drop by position
df.drop(df.index[0], inplace = True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa

In [20]:
df[df.sepal_length > 7.0]

     sepal_length  sepal_width  petal_length  petal_width     flower_type
101           7.1          3.0           5.9          2.1  Iris-virginica
104           7.6          3.0           6.6          2.1  Iris-virginica
106           7.3          2.9           6.3          1.8  Iris-virginica
108           7.2          3.6           6.1          2.5  Iris-virginica
116           7.7          3.8           6.7          2.2  Iris-virginica
117           7.7          2.6           6.9          2.3  Iris-virginica
121           7.7          2.8           6.7          2.0  Iris-virginica
124           7.2          3.2           6.0          1.8  Iris-virginica
128           7.2          3.0           5.8          1.6  Iris-virginica
129           7.4          2.8           6.1          1.9  Iris-virginica
130           7.9          3.8           6.4          2.0  Iris-virginica
134           7.7          3.0           6.1          2.3  Iris-virginica

In [22]:
df[df.flower_type == 'Iris-setosa']

    sepal_length  sepal_width  petal_length  petal_width  flower_type
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.6          0.2  Iris-setosa
11           4.8          3.0           1.4          0.1  Iris-setosa
12           4.3          3.0           1.1          0.1  Iris-setosa
13           5.8          4.0           1.2          0.2  Iris-setosa
14           5.7          4.4           1.5          0.4  Iris-setosa
15           5.4          3.9           1.3          0.4  Iris-setosa
16           5.1          3.5           1.4          0.3  Iris-setosa
17           5.7          3.8           1.7          0.3  Iris-setosa
18           5.1          3.8           1.5          0.3  Iris-setosa
19           5.4          3.4           1.7          0.2  Iris-setosa
20           5.1          3.7           1.5          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.7          0.5  Iris-setosa
23           4.8          3.4           1.9          0.2  Iris-setosa
24           5.0          3.0           1.6          0.2  Iris-setosa
25           5.0          3.4           1.6          0.4  Iris-setosa
26           5.2          3.5           1.5          0.2  Iris-setosa
27           5.2          3.4           1.4          0.2  Iris-setosa
28           4.7          3.2           1.6          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa
36           4.9          3.1           1.5          0.1  Iris-setosa
37           4.4          3.0           1.3          0.2  Iris-setosa
38           5.1          3.4           1.5          0.2  Iris-setosa
39           5.0          3.5           1.3          0.3  Iris-setosa
40           4.5          2.3           1.3          0.3  Iris-setosa
41           4.4          3.2           1.3          0.2  Iris-setosa
42           5.0          3.5           1.6          0.6  Iris-setosa
43           5.1          3.8           1.9          0.4  Iris-setosa
44           4.8          3.0           1.4          0.3  Iris-setosa
45           5.1          3.8           1.6          0.2  Iris-setosa
46           4.6          3.2           1.4          0.2  Iris-setosa
47           5.3          3.7           1.5          0.2  Iris-setosa
48           5.0          3.3           1.4          0.2  Iris-setosa

In [23]:
df[df.flower_type == 'Iris-setosa'].describe()

       sepal_length  sepal_width  petal_length  petal_width
count     47.000000    47.000000     47.000000    47.000000
mean       5.012766     3.429787      1.470213     0.246809
std        0.360324     0.386689      0.176826     0.110042
min        4.300000     2.300000      1.000000     0.100000
25%        4.800000     3.150000      1.400000     0.200000
50%        5.000000     3.400000      1.500000     0.200000
75%        5.200000     3.700000      1.600000     0.300000
max        5.800000     4.400000      1.900000     0.600000

In [25]:
# iloc vs loc

print(df.head())
print(df.iloc[0]) # by position
print(df.loc[3]) # by label

   sepal_length  sepal_width  petal_length  petal_width  flower_type
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
sepal_length            4.6
sepal_width             3.1
petal_length            1.5
petal_width             0.2
flower_type     Iris-setosa
Name: 2, dtype: object
sepal_length            5.0
sepal_width             3.6
petal_length            1.4
petal_width             0.2
flower_type     Iris-setosa
Name: 3, dtype: object

In [26]:
# Add a row

df.loc[149] = [1, 2, 3, 4, "Iris-setosa"]
df.tail()

     sepal_length  sepal_width  petal_length  petal_width     flower_type
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
149           1.0          2.0           3.0          4.0     Iris-setosa